<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <title>Tezz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async="async defer"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TEZZ</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/contact-us">About</a></li>
                 <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="maurya-ajeet"><a class="LI-simple-link" href='https://www.linkedin.com/in/maurya-ajeet?trk=profile-badge'>Ajeet Maurya</a></div>
</div>
</body>
</html>
