<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/1.11.1/jquery.min.js"/>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <title>Tezz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="/static/css/main.css"/>
    <script th:src="@{/js/myscripts.js}"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TEZZ</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#about">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template" style="text-align: center">
        <h2>
            <span th:text="${message}"></span>
        </h2>
    </div>

    <div class="text-center">

    <div id="main1" class="row">
        <div class="col-sm-2 small-font"/>

        <div id="speed-value" class="col-sm-4 big-font">
            0
        </div>
        <div id="speed-value-mbps" class="col-sm-2 medium-font">
            Mbps
        </div>
        <div class="col-sm-2"/>
    </div>
    <div id="main2" class="row" style="display: none">
        <div class="col-sm-2 small-font"/>
        <div id="speed-value-up" class="col-sm-4 big-font">
            0
        </div>
        <div id="speed-value-mbps-up" class="col-sm-2 medium-font">
            Mbps
        </div>
        <div class="col-sm-2"/>
    </div>
    </div>
    <div id="upload-btn-div">
        <button id="upload-btn" type="button" style="display: none" class="btn btn-primary" onclick="getUploaded()">Show
            Upload Speed
        </button>
    </div>

    <div id="file-content" class="hidden"></div>

</div>
<!-- /.container -->
</body>
</html>
